name: Análisis SonarQube + Deploy

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  sonar_and_deploy:
    runs-on: vm-team04

    steps:
      - name: Descargar repositorio
        uses: actions/checkout@v3

      - name: Ejecutar pruebas unitarias
        run: pytest

      # --- SONARQUBE ---
      - name: Instalar Sonar Scanner
        run: |
          export SONAR_SCANNER_VERSION=7.2.0.5079
          export SONAR_SCANNER_HOME=$HOME/.sonar/sonar-scanner-$SONAR_SCANNER_VERSION-linux-x64
          mkdir -p $HOME/.sonar
          curl -sSLo sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-$SONAR_SCANNER_VERSION-linux-x64.zip
          unzip -o sonar-scanner.zip -d $HOME/.sonar/
          export PATH=$SONAR_SCANNER_HOME/bin:$PATH
          echo "PATH=$PATH" >> $GITHUB_ENV
      - name: Ejecutar análisis SonarQube
        env:
          SONAR_SCANNER_OPTS: "-Xmx512m"
        run: |
          sonar-scanner \
            -Dsonar.projectKey=weather \
            -Dsonar.sources=. \
            -Dsonar.host.url=http://40.71.208.241:8080 \
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}

      # --- DOCKER CHECK ---
      - name: Verificar Docker
        run: |
          docker --version
          systemctl is-active --quiet docker || (echo "Docker no está activo" && exit 1)

      # --- BUILD ---
      - name: Construir imagen Docker
        run: docker build --pull -t weather-app:latest .

      # --- DEPLOY ---
      - name: Desplegar contenedor
        run: |
          docker rm -f weather-app 2>/dev/null || true
          docker run -d --name weather-app -p 80:80 weather-app:latest

      # --- HEALTHCHECK (opcional) ---
      - name: Verificar que la app respondió
        run: |
          for i in {1..20}; do
            if curl -sf http://40.71.208.241:8080/ >/dev/null; then
              echo "✅ App corriendo correctamente"
              exit 0
            fi
            echo "Esperando app... ($i)"
            sleep 2
          done
          echo "❌ La app no respondió en el puerto 8000"
          docker logs --tail=50 weather-app || true
          exit 1
