name: test

on:
  push:
    branches:
      - main

jobs:
  hola-mundo:
    runs-on: [self-hosted, vm-team04]
    steps:
      - name: Descarga Repositorio
        uses: actions/checkout@v3

      - name: Ejecuta script
        run: |
          echo "Hola mundo"
